doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 14
    link(rel='stylesheet', href='./css/d-14.css')
  body
    h1 Drill 14
    button#add Rectangle Go!
    #rectangles


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='http://fb.me/react-0.10.0.js')
    script(src='http://fb.me/JSXTransformer-0.10.0.js')
    //script(type='text/jsx', src='./js/components/d-10-clock.js')
    script(type='text/jsx', src='./js/components/d-14-rectangle.js')
    script(type='text/jsx', src='./js/components/master.js')
    script(src='./js/source/main.js')
