doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Drill 18
    link(rel='stylesheet', href='./css/d-10.css')
  body
    h1 Stock Quote Demo 3

    #widgets


    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='http://fb.me/react-0.10.0.js')
    script(src='http://fb.me/JSXTransformer-0.10.0.js')
    script(type='text/jsx', src='./js/components/d-18-quoteTable.js')
    script(type='text/jsx', src='./js/components/master.js')
